{% extends "students/base.html" %}

{% block title %}Список студентов{% endblock %}

{% block content %}
    <div class="row placeholder">
        <div class="col-xs-6"><h2>Список студентов</h2></div>
        <div class="col-xs-6 text-right">
            <div>&nbsp;</div>
            <a role="button" class="btn btn-success" href="{% url 'students:add' %}">Добавить</a>
        </div>
    </div>
    <ul class="list-group">
    {% for student in students %}
        <li class="list-group-item">
            <span class="pull-right">
                <a role="button" class="btn btn-danger btn-xs" href="{% url 'students:delete' student.id %}">
                    <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </span>
            <span class="pull-right">&nbsp;</span>
            <span class="pull-right">
                <a role="button" class="btn btn-default btn-xs" href="{% url 'students:edit' student.id %}">
                    <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </span>
            <a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
