{% extends "contact/base.html" %}
{% load i18n %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


    <div class="container">
     <h3>{% trans "Change lang:" %}</h3>

<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="language" type="text" />
  <input type="submit" value="Go" />
</form>


     <h1>{% trans "Contact us" %}</h1>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="{% trans "Send" %}" />
        </form>
    </div>
{% endblock %}