{% extends "courses/base.html" %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
    <div class="row placeholder">
        <div class="col-xs-6"><h2>{{ course }}</h2></div>
        <div class="col-xs-6 text-right">
            <div>&nbsp;</div>
            <a role="button" class="btn btn-success" href="{% url 'courses:add' %}">Добавить</a>
            <a role="button" class="btn btn-default" href="{% url 'courses:edit' course.id %}">Редактировать</a>
            <a role="button" class="btn btn-danger" href="{% url 'courses:delete' course.id %}">Удалить</a>
        </div>
    </div>
    <table class="table">
        <tr>
            <td>Язык программирования:</td>
            <td>{{ course.get_lang_display }}</td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td>{{ course.description }}</td>
        </tr>
        <tr>
            <td>Тренер:</td>
            <td><a href="{% url 'coaches:detail' course.coach.id %}">{{ course.coach }}</a></td>
        </tr>
        <tr>
            <td>Асистент:</td>
            <td><a href="{% url 'coaches:detail' course.assistant.id %}">{{ course.assistant }}</a></td>
        </tr>
        <tr>
            <td>Дата начала:</td>
            <td>{{ course.start_date }}</td>
        </tr>
        <tr>
            <td>Дата окончания:</td>
            <td>{{ course.end_date }}</td>
        </tr>
        {% if course.venue %}
        <tr>
            <td>Место:</td>
            <td>{{ course.venue }}</td>
        </tr>
        {% endif %}
    </table>
    
    {% if course.student_set.all %}
    <div class="panel panel-default">
        <div class="panel-heading">Студенты</div>
        <ul class="list-group">
            {% for student in course.student_set.all %}
                <li class="list-group-item"><a href="{% url 'students:detail' student.id %}">{{ student }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
