{% extends "students/base.html" %}

{% block menu-students-class %}
{% endblock %}

{% block content %}
{{ course.name }}
    <div class="container">

        <h1>Student: {{ student.surname }} {{ student.name }}</h1>
        <ul class="list-group">
          <li class="list-group-item">Email: {{ student.email }}</li>
          <li class="list-group-item">Телефон: {{ student.phone }}</li>
          <li class="list-group-item">Пакет: {{ student.package }}</li>
          <li class="list-group-item">
{% with group=student.group %}
        {% include "inc_group.html" %}
{% endwith %}
        </li>
        </ul>

    </div><!-- /.container -->

{% endblock %}