{% extends "courses/base.html" %}

{% block title %}Список курсов{% endblock %}

{% block content %}
    <h2 class="sub-header">Список курсов</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                </tr>
            </thead>
            <thead>
                {% for course in courses %}
                <tr>
                    <td><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></td>
                    <td>{{ course.start_date }}</td>
                    <td>{{ course.end_date }}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
{% endblock %}
