{% extends "students/base.html" %}
{% load static %}


{% block content %}

    <div class="container">
        {{ block.super }}

        <h1>PyBursa Students list {{ students|length }}</h1>
        <ul class="list-group">
          
          {% for student in students %}
          <li class="list-group-item">
            {{ forloop.first }}
            <a href="{% url 'student-item' student.id %}">
               {{ student.surname }} {{ student.name }}
            </a>
          </li>
          {% endfor %}

        </ul>

    </div><!-- /.container -->
{% endblock %}


{% block title %}
 - Students list {{ title|capfirst }}
{% endblock %}
