{% extends "coaches/base.html" %}

{% block title %}{{ coach }}{% endblock %}

{% block content %}
    <h2>{{ coach }}</h2>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder text-center">
            <img alt="200x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzM5REJBQyIvPjxnPjx0ZXh0IHg9Ijc0LjY4NzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6IzFFMjkyQztmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
            <h4>Фото</h4>
        </div>
        <div class="col-xs-6 col-sm-9 placeholder">
            <table class="table">
                <tr>
                    <td>Мобильный:</td>
                    <td>{{ coach.phone }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ coach.email }}</td>
                </tr>
                {% if coach.dossier %}
                <tr>
                    <td>Адрес:</td>
                    <td>{{ coach.dossier.adress }}</td>
                </tr>
                <tr>
                    <td>Любимый цвет:</td>
                    <td>{{ coach.dossier.get_color_display }}</td>
                </tr>
                {% endif %}
            </table>

            <div class="panel panel-default">
                <div class="panel-heading">{{ coach.get_role_display }}</div>
                <ul class="list-group">
                    {% for course in coach.course_set.all %}
                        <li class="list-group-item"><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></li>
                    {% endfor %}
                    {% for course in coach.assistant.all %}
                        <li class="list-group-item"><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            {% if coach.dossier %}
            <div class="panel panel-default">
                <div class="panel-heading">Нелюбимые курсы</div>
                <ul class="list-group">
                    {% for course in coach.dossier.unloved_courses.all %}
                        <li class="list-group-item"><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
